@if (User.Identity!.IsAuthenticated)
{
    <div style="text-align:center; padding:50px;">
        <h2>Welcome back to SiwesConnect!</h2>
        <p>You are logged in. Go to your dashboard:</p>
        <br />
        @if (User.IsInRole("Student"))
        {
            <a asp-controller="Student" asp-action="Index">Go to Student Dashboard</a>
        }
        else if (User.IsInRole("Supervisor"))
        {
            <a asp-controller="Supervisor" asp-action="Index">Go to Supervisor Dashboard</a>
        }
        else if (User.IsInRole("Admin"))
        {
            <a asp-controller="Admin" asp-action="Index">Go to Admin Dashboard</a>
        }
    </div>
}
else
{
    <div style="text-align:center; padding:50px;">
        <h1>Welcome to SiwesConnect</h1>
        <p>The SIWES Internship Placement and Digital Logbook Verification System</p>
        <br />
        <a asp-controller="Account" asp-action="Login"><button>Login</button></a>
        &nbsp;&nbsp;
        <a asp-controller="Account" asp-action="Register"><button>Sign Up</button></a>
        &nbsp;&nbsp;
        <a asp-controller="Company" asp-action="RegisterCompany"><button>Register Company</button></a>
    </div>
}